<form method='post' action='#'>

  <label>First Name</label>
  <input class="span3" name="first_name" type="text">

  <label>Last Name</label>
  <input class="span3" name="last_name" type="text">

  <label>Phone Number</label>
  <input class="span3" name="phone" type="text">

  <label>Email</label>
  <input class="span3" name="email" type="text">

  <label>Company</label>
  <input class="span3" name="company" type="text">

  <label>Message</label>
  <textarea class="span4" name="message"></textarea>

  <button class="btn btn-info btn-large" type="submit">Send</button>

</form>
