#about
  .hd
  .bd
    .container
      h1 About Our Company
      h3 We are built on passion, trust, and positive energy
      p.
        Rosito Bisani was founded upon serving the needs of the foodservice 
        industry. Our comprehensive distribution network provides a full line of 
        products and service to every region of the country.
      p.
        In 1979, Mario Rosito began importing high quality espresso equipment 
        to accommodate the needs of restaurateurs throughout Southern California. 
        The need for a comprehensive supplier of new and innovative products 
        drove Rosito Bisani to become market leaders in the domain of espresso, 
        pasta, granita, gelato machines in addition to wood fired and gas pizza 
        ovens with a responsive network of distributors and nationwide service.
      p.
        When it comes to building a successful espresso program, we have the 
        tools to help you succeed. Because of our passion for our business, we 
        have set a higher standard to benchmark our position in the market. 
        While no one has invented a bullet proof espresso machine, we are making 
        strides to improve machine longevity and technology.
      p.
        Our impressive customers include a diverse group of entrepreneurs and 
        corporate accounts. Our commitment to our customers is to consistently 
        provide the best value products with the most responsive customer service.
