//#myCarousel.carousel.slide
  ol.carousel-indicators
    li.active(data-target="#myCarousel", data-slide-to="0")
    li(data-target="#myCarousel", data-slide-to="1")
    li(data-target="#myCarousel", data-slide-to="2")
    li(data-target="#myCarousel", data-slide-to="3")
  //- Carousel items
  .carousel-inner
    .active.item
      img(src="/img/synesso.jpg")
    .item
      img(src="/img/pizza-oven.jpg")
    .item
      img(src="/img/zumex.jpg")
    .item
      img(src="/img/synesso-logo.jpg")
  <!-- Controls -->
  a.left.carousel-control(href="#myCarousel" data-slide="prev")
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#myCarousel" data-slide="next")
    span.glyphicon.glyphicon-chevron-right


