#myCarousel.carousel.slide
  ol.carousel-indicators
    li.active(data-target="#myCarousel", data-slide-to="0")
    li(data-target="#myCarousel", data-slide-to="1")
    li(data-target="#myCarousel", data-slide-to="2")
    li(data-target="#myCarousel", data-slide-to="3")
    li(data-target="#myCarousel", data-slide-to="4")
  //- Carousel items
  .carousel-inner
    .active.item 
      img(src="/img/synchro-cafe.jpg")
    .item
      img(src="/img/pizza-oven.jpg")
    .item
      img(src="/img/zumex.jpg")
    .item
      img(src="/img/synesso.jpg")
    .item
      img(src="/img/synesso-logo.jpg")
  //- Carousel nav
  a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;
  a.carousel-control.right(href="#myCarousel",  data-slide="next") &rsaquo;
