#contact
  .container
    .content.body
      .page-header: h1 Contact
      .row
        .span4
          p Rosito Bisani Imports, Inc.
          p.
            <b>Address</b><br />
            940 S. La Brea Avenue<br />
            Los Angeles, CA 90036
          p.
            <b>Phone</b><br />
            1-800-848-4444
            610.647.0200
          p.
            <b>Email:</b><br />
            sales@rosito-bisani.com
          p.
            <b>Fax:</b><br />
            323-938-0728
        .span4.well.contact

