#contact
  .hd
    img.img-responsive(src="/img/contact.jpg")
    .caption
      .row
        .col-xs-6
          div: span West Coast Cafe
        .col-xs-6
          div: span East Coast Cafe
  .bd
    .container
      h1 Contact Us
      .row
        .col-sm-3.col-lil-6
          h3 West Coast 
          p.
            <b>Address</b><br />
            940 S. La Brea Avenue<br />
            Los Angeles, CA 90036
          p.
            <b>Phone Main</b><br />
              323-937-1888
          p.
            <b>Toll Free</b><br />
               1-800-848-4444
          p.
            <b>Fax:</b><br />
            323-938-0728
        .col-sm-3.col-lil-6
          h3 East Coast
          p.
            <b>Address</b><br />
            530 S. Henderson Rd.<br />
            Suite F<br />
            King of Prussia, PA 19406<br />
          p.
            <b>Phone Main</b><br />
            610.265.5950
          p.
            <b>Toll Free</b><br />
            1.800.215.8563
          p.
            <b>Fax:</b><br />
            888.576.8524
        .col-sm-6.col-lil-12
          h3 Email:
          p sales@rosito-bisani.com
          .well
            #form-region

