footer 
  .container
    div#social-media-icons
      p Check us out on social media
      a(href="https://www.facebook.com/RositoBisani")
        span
          object#facebook-icon(type="image/svg+xml", data="/img/facebook-35.svg") Your browser does not support SVGs
      a(href="https://www.instagram.com/rositobisani")
        span
          object#instagram-icon(type="image/svg+xml", data="/img/instagram-35.svg") Your browser does not support SVGs
    a.footer-logo(href="/")
      span.fonticon-rosito-bisani
    ul.list-unstyled
      li
        a(href="/") Home
      li
        a(href="/products") Products
      li
        a(href="/about") About
      li
        a(href="/manuals") Manuals
      li
        a(href="/contact") Contact
      li
        a(href="/privacy-policy") Privacy Policy 
    .copyright
      | All rights reserved. 
      - var year = new Date().getFullYear()
      | Copyright &copy; #{year} Rosito Bisani Imports, Inc. 
