footer 
  .container
    .footer-logo
      a(href="/")
        span.fonticon-rosito-bisani
    ul
      li
        a(href="/") Home
      li
        a(href="/products") Products
      li
        a(href="/about") About
      li
        a(href="/manuals") Manuals
      li
        a(href="/contact") Contact
      li
        a(href="/privacy-policy") Privacy Policy 
    .copyright
      | All rights reserved. 
      - var year = new Date().getFullYear()
      | Copyright &copy; #{year} Rosito Bisani Imports, Inc. 

