#myCarousel.carousel.slide
  ol.carousel-indicators
    li.active(data-target="#myCarousel", data-slide-to="0")
    li(data-target="#myCarousel", data-slide-to="1")
    li(data-target="#myCarousel", data-slide-to="2")
    li(data-target="#myCarousel", data-slide-to="3")
  //- Carousel items
  .carousel-inner
    .active.item
      img(src="/img/synesso.jpg")
    .item
      img(src="/img/pizza-oven.jpg")
    .item
      img(src="/img/zumex.jpg")
    .item
      img(src="/img/synesso-logo.jpg")
  //- Controls
  a.left.carousel-control(href="#myCarousel" data-slide="prev" data-bypass="true")
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#myCarousel" data-slide="next" data-bypass="true")
    span.glyphicon.glyphicon-chevron-right
.icons
  .container
    .row
      .col-sm-2.col-xs-2
        a(href="/products", data-target="pizza-ovens")
          span.fonticon-pizza-oven.icon
          span.title Pizza 
            span.line-break Ovens
      .col-sm-2.col-xs-2
        a(href="/products", data-target="pasta-machines")
          span.fonticon-pasta.icon
          span.title Pasta 
            span.line-break Equipment
      .col-sm-2.col-xs-2
        a(href="/products", data-target="gelato")
          span.fonticon-gelato.icon
          span.title Gelato 
            span.line-break Machines
      .col-sm-2.col-xs-2
        a(href="/products", data-target="espresso-machines")
          span.fonticon-espresso-machine.icon
          span.title Espresso 
            span.line-break Machines
      .col-sm-2.col-xs-2
        a(href="/products", data-target="juicers")
          span.fonticon-juicer.icon 
          span.title Citrus 
            span.line-break Juicers
      .col-sm-2.col-xs-2
        a(href="#")
          span.fonticon-tools.icon
          span.title Service &amp; 
            span.line-break Support
.body
  .hd
    .container
      .row
        .col-sm-6
          .current-events
            h3 Upcoming Shows
            //- h3 Current Events
            .row
              .col-sm-6
                p.
                  <a href="http://www.pizzaexpo.com">International Pizza Expo</a><br>
                  March 23-26, 2015<br>
                  Las Vegas Convention Center<br>
                  Booth# 526
              .col-sm-6
                p.
                  <a href="http://show.restaurant.org/Home">National Restaurant Show</a><br>
                  May 16-19, 2015<br>
                  McCormick Place<br>
                  Chicago, IL<br>
                  Booth# 351
              //.col-sm-4
                p.
                  <a href="http://show.restaurant.org/Home">National Restaurant Show</a><br>
                  May 17-20, 2014<br>
                  McCormick Place <br>
                  Chicago, IL

              //- .col-sm-6.social-media
                //- h5 Social Media
                //- p.
                  <a href="https://www.facebook.com/RositoBisani"><span class="fonticon-facebook"></span> Visit our Facebook page</a>

        .col-sm-6
          .philosophy
            .RB-icon
            h3 Our Philosophy
            p.
              We believe that success is built upon a foundation of quality 
              products and strong relationships. Whether it’s equipment, 
              technical support, or customer service, we know that YOU, the 
              customer, depend on us to offer value in each and every solution 
              that we provide<span class="show-hide-link-container">... 
              <a class="show-hide-link">read</a></span>  
              <span class="show-hide-content">We feel that Knowledge, Passion, Trust, 
              Communication, and Positive Energy are some of the key elements 
              necessary to establish a prosperous working relationship. With a 
              focus on these core values, we know that we will deliver solutions 
              to your challenges and help your business grow. It is through this 
              consistent recipe that we will constantly strengthen our relationship 
              and be the obvious source for all of your specialty food service 
              equipment needs…today, tomorrow, and beyond.</span>

  .testimonials
    .container
      .header
        h1  What Our Customers Are Saying
      .body
        section.quote
          | <b class="quotes">&ldquo;</b>Our espresso machine needed service at 4:30pm on a Friday 
          | afternoon over the holidays during &lsquo;Grinchmas&rsquo;, our largest 
          | event of the year. Leo arrived within the hour, and not only 
          | fixed our machine, but stayed for an additional hour to make 
          | sure everything ran smoothly during our event. Now that is 
          | customer service!<b class="quotes">&rdquo;</b>
          .author
            .line-one
              | Roy Nakano - Director of Facilities and Distribution, Revenue Operations
            .line-two
              a(href="http://www.nbcuni.com/") NBC Universal Studios
            .NBC_Universal.logo

        section.quote
          | <b class="quotes">&ldquo;</b>Rosito Bisani has done an outstanding job in handling 
          | our specialty coffee program needs. Great equipment and great 
          | service!<b class="quotes">&rdquo;</b>
          .author
            .line-one
              | Kelly G. Mullarney - WAFFLE INNOVATOR
            .line-two
              a(href="http://bruxie.com/") Bruxie - Gourmet Waffle Sandwiches
            .bruxie.logo
        section.quote
          | <b class="quotes">&ldquo;</b>In 2008 Jeff, the service manager in the East, TWICE delivered 
          | and installed espresso machines for us (with some assistance from 
          | our staff) while on crutches just 1 week after surgery to repair his 
          | torn achilles tendon. It was the night before our grand opening, and 
          | we had a shipping delay with the espresso equipment vendor we 
          | were working with at the time.  Coincidentally this happened to 
          | 2 of our locations within the same week! On both occasions, RBE 
          | acted quickly and ensured we had equipment at both locations in 
          | time for our openings. Needless to say, we have been working 
          | with these guys ever since!<b class="quotes">&rdquo;</b>
          .author
            .line-one
              | Spencer Curtiss - Operations Manager
            .line-two
              a(href="http://saxbyscoffee.com") Saxbys Coffee
            .saxbys.logo
        section.quote
          | <b class="quotes">&ldquo;</b>Working closely with RBE for equipment needs and service support 
          | has been an incredible benefit to our wholesale partners. Their 
          | knowledge and responsiveness provide great peace of mind.<b class="quotes">&rdquo;</b>
          .author
            .line-one
              | Rob Altieri - Sales Director
            .line-two
              a(href="http://www.onevillagecoffee.com") One Village Coffee
            .onevillage.logo


