#home
  include carousel
  .icons
    .container
      .row
        .col-md-2
          a(href="/products", data-target="pizza-ovens")
            span.fonticon-pizza-oven.icon
            span.title Pizza Ovens
        .col-md-2
          a(href="/products", data-target="pasta-machines")
            span.fonticon-pasta.icon
            span.title Pasta Equipment
        .col-md-2
          a(href="/products", data-target="gelato")
            span.fonticon-gelato.icon
            span.title Gelato Machines
        .col-md-2
          a(href="/products", data-target="espresso-machines")
            span.fonticon-espresso-machine.icon
            span.title Espresso Machines
        .col-md-2
          a(href="/products", data-target="juicers")
            span.fonticon-juicer.icon
            span.title  Citrus Juicers
        .col-md-2
          a(href="#")
            span.fonticon-tools.icon
            span.title Service &amp; Support 
  include home_part

