include carousel
#home
  .icons
    .container
      .row
        .span2
          img(src="/img/pizza-oven-icon.png")
          h2 Pizza Ovens
        .span2
          img(src="/img/pasta-icon.png")
          h2 Pasta Equipment
        .span2
          img(src="/img/gelato-icon.png") 
          h2 Gelato Machines
          //p Odio non porttitor venenatis, tortor ligula luctus sem, et aliquet erat velit a arcu.
        .span2
          img(src="/img/espresso-machine-icon.png") 
          h2 Espresso Machines
        .span2
          img(src="/img/juicers-icon.png")
          h2  Juicers
        .span2
          img(src="/img/wrench-icon.png")
          h2  Service &amp; Support
  include section2
  .philosophy
    .container
      img(src="/img/bg-module-top-shadow.png")
      h1 Our Philosophy
      .row
        .span10.offset1
          img.rb(src="/img/RB-icon.png")
          p.
            We believe that success is built upon a foundation of quality 
            products and strong relationships. Whether it’s equipment, 
            technical support, or customer service, we know that YOU, the 
            customer, depend on us to offer value in each and every solution 
            that we provide.  We feel that Knowledge, Passion, Trust, 
            Communication, and Positive Energy are some of the key elements 
            necessary to establish a prosperous working relationship. With a 
            focus on these core values, we know that we will deliver solutions 
            to your challenges and help your business grow. It is through this 
            consistent recipe that we will constantly strengthen our relationship 
            and be the obvious source for all of your specialty food service 
            equipment needs…today, tomorrow, and beyond.
