include carousel
#icons
  .container
    .row
      .span3
        .box 
          h2 Pizza Ovens
          img(src="/img/pizza-oven-icon.png") 
          p We carry Morello Forni pizza ovens. Wood fired and gas and digital
        .box
          h2 Pasta Equipment 
          img(src="/img/pasta-icon.png")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis
        .box
          h2 Gelato Machines 
          img(src="/img/gelato-icon.png") 
          p Odio non porttitor venenatis, tortor ligula luctus sem, et aliquet erat velit a arcu.
        .box
          h2 Espresso Machines 
          img(src="/img/espresso-machine-icon.png") 
          p Praesent pretium velit elit, at porttitor nulla. Nulla nisl elit, convallis
        .box
          h2 Juicers 
          img(src="/img/juicers-icon.png") 
          p Donec lacus massa, rutrum vitae dignissim luctus, blandit quis lacus. Morbi elementum leo fermentum nunc
      .span9 
        .box.within
          h3 Our Company will be exhibiting at the following trade shows:  
          p.
            Pizza Expo<br />
            <a href="/">March 19-21, 2013</a>
          p.
            Las Vegas<br />
            <a href="/">www.pizzaexpo.com</a>
          p.
            Malesuada eget interdum<br />
            <a href="/">Lorem</a>

        .box
          .about
            h1 Our Philosophy 

            p.
              Rosito Bisani is committed to fulfilling the desires of coffee 
              enthusiasts around the world. Staying on the cutting edge of 
              innovation and technology, we strive to design the most barista 
              friendly, dependable, and responsive equipment on the market. 
              Each machine is handcrafted with Synesso's unique design and 
              quality performance. We believe in the importance of growing 
              our business organically alongside the increasing quality of 
              specialty roasters.

            p.
              We hope that our attention to detail and understanding of 
              coffee will help you in your pursuit of excellence.....
      .span9
        .box
          .about
            h1 Parts and Service 
            p.
              Morbi mollis enim at mauris dignissim id sagittis augue hendrerit. 
              Phasellus volutpat convallis lectus ut varius. In eu justo ut purus 
              sagittis rhoncus porttitor eget ligula. Aenean tortor felis, dignissim 
              a pulvinar sed, imperdiet ut odio. Aliquam interdum lacus non ipsum 
              ornare quis pulvinar turpis fringilla. Vivamus et leo quis urna laoreet 
              ultricies quis vitae libero. Duis elementum urna vel erat porttitor 
              eget laoreet ipsum tristique. Nullam aliquet venenatis ullamcorper. 
              Donec orci augue, rutrum ac posuere et, lobortis quis mi. Morbi 
              dignissim odio ut metus tempus a tincidunt enim ullamcorper. 
