extends layout

block content
  include carousel
  #home
    #icons
      .icon
        .container
          h1
            span Founded in 1979 by Mario Rosito with the DNA for excellence in foodservice, offering
          ul
            li
              .circle-bg
                img(src="/img/pizza-oven-icon.png")
              h2 Pizza Ovens
            li
              .circle-bg
                img(src="/img/pasta-icon.png")
              h2 Pasta Equipment
            li
              .circle-bg
                img(src="/img/gelato-icon.png") 
              h2 Gelato Machines
            li
              .circle-bg
                img(src="/img/espresso-machine-icon.png") 
              h2 Espresso Machines
            li
              .circle-bg
                img(src="/img/juicers-icon.png") 
              h2  Juicers
    section
      .container
        h1 Our Company Story 
        p.
          In 1979, Mario Rosito began importing high quality espresso equipment 
          to accommodate the needs of restaurateurs throughout Southern California. 
          The need for a comprehensive supplier of new and innovative products 
          drove Rosito Bisani to become market leaders in the domain of espresso, 
          pasta, granita, gelato machines in addition to wood fired and gas pizza 
          ovens with a responsive network of distributors and nationwide service.
