include carousel
#machines
  .container 
    .headline 
      h1.
        <img class="quote" src="/img/quotes.png">Their machines respresent the highest quality 
        of imported restaurant equipment money can buy.<b class="r">&rdquo;</b>
      h3 -Mark Vetri owner of Osteria, Philadephia PA (as seen on FoodNetwork)
  .products
    .divider
      .container
        ul.thumbnails
          h2 Our Featured Machines
          li.span4
            .thumbnail
              h3 Digital Pizza Oven with Blue Cupola  
              img(src="/img/Cupola-BLue-Mosaic-Oven.jpg")
              h4 By Morello Forni
              p.
                Of the many features that make a pizza oven by Morello Forni the 
                industry's leader, the fact that you will save money by using  
                less gas is a good place to start. These ovens have a mouth opening 
                that is 30% smaller and a ceiling height that is over 50% lower 
                than the other leading brands.<br /> <a href="#">Learn More</a>
          li.span4
            .thumbnail
              h3 CPG-2 Double Chamber Pasta Cooker
              img(src="/img/Pasta-cooker-big-cut.jpg")
              h4 By Rosito Bisani
              p.
                The key to a pasta cooker is in removing the excess starch while 
                cooking. This starch can cause all sorts of problems from messing up
                the flavor and consistency of the pasta to making the machine itself 
                difficult to clean. Our pasta cooker has the most effiect removal 
                system in the industy. <br /> <a href="#">Learn More</a>
          //li.span4
            .thumbnail
              img(src="/img/Juicer-big.jpg")
              h3 Thumbnail label
              p Thumbnail caption...
          li.span4
            .thumbnail
              h3 Cyncra 3 group espresso machine 
              img(src="/img/Cyncra-3-gp--wc-and-cupriser.jpg")
              h4 By Synesso
              p.
                Spending the extra money now for a Synesso will 
                save you money and headaches down the road because you 
                will not have down time. Synesso builds its machines to 
                withstand your largest crowds and keep on steaming.  
                However in focusing on the technical feats,
                they did not lose sight of design. <br /> <a href="#">Learn More</a>
  .philosophy
    .container
      img(src="/img/bg-module-top-shadow.png")
      h1 Our Philosophy of Harmony between Machine and Support 
      .row
        .span10.offset1
          img.rb(src="/img/RB-icon.png")
          p.
            To serve our customers, we believe that a harmony must exist between 
            machine and support. A perfectly performing machine is not our end goal 
            because a machine without support does not create peace of mind. 
            Our desire is for you to feel a calm about any machine purchased from us.
            You will know that our ever present support is always there for you.
            This combination of the finest machines and superior support is 
            the rock upon which we build Rosito Bisani Imports. We are excited to serve
            you next.
