.navbar.navbar-static-top
  .navbar-inner
    .container
      a.brand(href="/") 
        img.logo(src="/img/logo-white-gray-border.png")
        //img.rb(src="/img/RB-icon.png")
      ul.nav
        li: a(href="/v-red-white-border") A
        li: a(href="/v-red-no-border") B
        li: a(href="/v-red-border-gray") C
        li: a(href="/v-white") D
        li: a(href="/icons") Icons
        li: a(href="/new") New
