.navbar
  .container
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        span.fonticon-rosito-bisani
        span.fonticon-specialty-foodservice-equipment
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a(href="/") Home 
        li: a(href="/products") Products 
        li: a(href="/about") About 
        li: a(href="/manuals") Manuals 
        li: a(href="/contact") Contact 
      .user-menu.pull-right
      .pull-right.contact-numbers  
        ul
          li West Coast Support
          li 1-800-848-4444
        ul
          li East Coast Support
          li 1-800-215-8563
