.navbar
  .navbar-inner
    .container
      a.brand(href="/") 
        img.logo(src="/img/logo-white.png")
        img.icon(src="/img/RB-icon.png")
      ul.nav
        li: a(href="/") Products
        li: a(href="/") About
        li: a(href="/") Contact
