include carousel
#new
  .container 
    .headline 
      h1.
        <b class="l">&ldquo;</b>Their machines respresent the highest quality 
        of imported restaurant equipment money can buy.<b class="r">&rdquo;</b>
      h3 -Mark Vetri owner of Osteria 
    h1 Our Featured Machines
    ul.thumbnails
      li.span4
        .thumbnail
          img(src="/img/Cupola-BLue-Mosaic-Oven.jpg")
          h3 Pizza Oven with Cupola by Morello Forni 
          p.
            Of the many features that make a pizza oven by Morello Forni the 
            industry's leader, the fact that you will save money by using  
            less is a good place to start. These ovens have a mouth opening 
            that is 30% smaller and a ceiling height that is over 50% lower 
            than the other leading brands.<br /> <a href="#">Learn More</a>
      li.span4
        .thumbnail
          img(src="/img/Pasta-cooker-big-cut.jpg")
          h3 Pasta Cooker by I dont know
          p.
            The key to a pasta cooker is in removing the excess starch while 
            cooking. This starch can cause all sorts of problems from messing up
            the flavor and consistency of the pasta to making the machine itself 
            difficult to clean. Our pasta cooker has the most effiect removal 
            system in the industy. It also has the deepest pan and is the most 
            energy efficient.<br /> <a href="#">Learn More</a>
      //li.span4
        .thumbnail
          img(src="/img/Juicer-big.jpg")
          h3 Thumbnail label
          p Thumbnail caption...
      li.span4
        .thumbnail
          img(src="/img/Tecnica3GR-1.jpg", style="padding: 84px 0")
          h3 Tehcnica Espresso Machine by Synchro
          p.
            The worst part of owing an espresso machine is the down time because of the money
            lost. Synchro builds its machines to withstand your largest crowds
            and keep on steaming. However in focusing on the technical feats,
            they did not lose sight of design. Their machines are truly a work of art 
            to be seen by your patrons. <br /> <a href="#">Learn More</a>
  .philosophy
    .container
      img(src="/img/bg-module-top-shadow.png")
      h1 Our Philosophy
      p.
        Rosito Bisani is committed to fulfilling the desires of coffee 
        enthusiasts around the world. Staying on the cutting edge of 
        innovation and technology, we strive to design the most barista 
        friendly, dependable, and responsive equipment on the market. 
        Each machine is handcrafted with Synesso's unique design and 
        quality performance. We believe in the importance of growing 
        our business organically alongside the increasing quality of 
        specialty roasters.



