extends layout
block content
  include carousel
  #red-icon-bar
    .icons
      .container
        .row
          .span2.offset1
            img(src="/img/icons/white/pizza-oven-icon.png")
            h2 Pizza Ovens
          .span2
            img(src="/img/icons/white/pasta-icon.png")
            h2 Pasta Equipment
          .span2
            img(src="/img/icons/white/gelato-icon.png") 
            h2 Gelato Machines
            //p Odio non porttitor venenatis, tortor ligula luctus sem, et aliquet erat velit a arcu.
          .span2
            img(src="/img/icons/white/espresso-machine-icon.png") 
            h2 Espresso Machines
          .span2
            img(src="/img/icons/white/juicers-icon.png")
            h2  Juicers
    include section2
    .philosophy
      .container
        img(src="/img/bg-module-top-shadow.png")
        h1 Our Philosophy of Harmony between Machine and Support 
        .row
          .span10.offset1
            img.rb(src="/img/RB-icon.png")
            p.
              To serve our customers, we believe that a harmony must exist between 
              machine and support. A perfectly performing machine is not our end goal 
              because a machine without support does not create peace of mind. 
              Our desire is for you to feel a calm about any machine purchased from us.
              You will know that our ever present support is always there for you.
              This combination of the finest machines and superior support is 
              the rock upon which we build Rosito Bisani Imports. We are excited to serve
              you next.
