.section2
  .divider
    .container
      .row
        .span6
          .content.testimonials
            .header
              img(class="chat-icon", src="/img/chat-icon.png")
              h2  What our customers are saying
            .body
              blockquote.
                <b class="quotes">&ldquo;</b>
                 Rosito Bisani has done an outstanding job in handling 
                our specialty coffee program needs. Great equipment and great 
                service!
                <br />- <b>Bruxie</b>
              blockquote.
                <b class="quotes">&ldquo;</b>
                Our espresso machine needed service at 4:30pm on a Friday 
                afternoon over the holidays during ‘Grinchmas’, our largest 
                event of the year. Leo arrived within the hour, and not only 
                fixed our machine, but stayed for an additional hour to make 
                sure everything ran smoothly during our event. Now that is 
                customer service!
                <br />- <b>Universal Studios</b>
              blockquote.
                <b class="quotes">&ldquo;</b>
                We have been working with Rosito Bisani for almost 15 years. 
                They have done a great job in providing great espresso equipment 
                and excellent service to our customers all over the country.
                <br />- <b>USF</b>
             
        .span6
          .content.current-events
            .header
              img(class="news-icon", src="/img/news-icon.png")
              h2 Current Events
            .body
              p <b>NRA Show</b> 
              p May 18-21 - McCormick Place, Booth 233 - Chicago, IL
              p <b>Western Foodservice and Hospitality Expo</b> 
              p August 18-20 - Los Angeles Convention Center - Los Angeles, CA
              h3 Tweets
              p.
                Tuesdays are typically our biggest roasting days, over 800lbs 
                today <a>#roasting #coffee #goodday #fb</a> 05:57:40 AM April 30, 2013 
                from Twitter for iPhone
              p.
                Sidamo Kellensoo getting ready to be part of Smart Blend @ One 
                Village Coffee World HQ <a>http://t.co/DMC2huVVkZ</a> 07:47:00 AM April 22, 2013 from Instagram         

