@base-url: "/fonts";

@font-face{
	font-family: 'caslon';
	@folder: 'caslon';
	@name: 'CaslonPro-Regular';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'proximaNovaLight';
	@folder: 'proximaNovaLight';
	@name: 'ProximaNova-Light';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'proximaNovaBlack';
	@folder: 'proximaNovaBlack';
	@name: 'ProximaNova-Black';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}


@font-face{
	font-family: 'proximaNova';
	@folder: 'proximaNova';
	@name: 'ProximaNova-Regular';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}


@font-face{
	font-family: 'codeLight';
	@folder: 'codeLight';
	@name: 'CODE-Light';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'codeBold';
	@folder: 'codeBold';
	@name: 'CODE-Bold';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'thirstyScriptLight';
	@folder: 'thirstyScriptLight';
	@name: 'ThirstyScriptLight';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'gothamRndBook';
	@folder: 'gothamRndBook';
	@name: 'GothamRnd-Book';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'gothamRndMedium';
	@folder: 'gothamRndMedium';
	@name: 'GothamRnd-Medium';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'gothamRndLight';
	@folder: 'gothamRndLight';
	@name: 'GothamRnd-Light';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'nexaLight';
	@folder: 'nexaLight';
	@name: 'Nexa_Free_Light';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{ 
	font-family: 'nexaBold';
	@folder: 'nexaBold';
	@name: 'Nexa-Bold';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'openSans';
	@folder: 'open-sans/opensans_regular';
	@name: 'OpenSans-Regular';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}


@font-face{
	font-family: 'montserrat';
	@folder: 'montserrat';
	@name: 'montserrat-regular';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{
	font-family: 'montserratBold';
	@folder: 'montserrat';
	@name: 'montserrat-bold';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{
	font-family: 'lato';
	@folder: 'lato';
	@name: 'lato-regular';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'dosis';
	@folder: 'dosis';
	@name: 'dosis-regular';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{
	font-family: 'garamondBook';
	@folder: 'garamond-book';
	@name: 'garamond-book';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{ 
	font-family: 'quicksandLight';
	@folder: 'Quicksand';
	@name: 'Quicksand_Light';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{ 
	font-family: 'quicksandBook';
	@folder: 'Quicksand';
	@name: 'Quicksand_Book';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}


@font-face{ 
	font-family: 'quicksandBold';
	@folder: 'Quicksand';
	@name: 'Quicksand_Bold';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}


@font-face{ 
	font-family: 'sinaNova';
	@folder: 'SinaNova';
	@name: 'SinaNova';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}



@font-face{ 
	font-family: 'asap';
	@folder: 'Asap';
	@name: 'Asap-Regular';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face {
    font-family: 'linuxLibertine';
    src: url('/fonts/Linux-Libertine/linlibertine_re-4.7.5ro-webfont.eot');
    src: url('/fonts/Linux-Libertine/linlibertine_re-4.7.5ro-webfont.eot?iefix') format('eot'),
         url('/fonts/Linux-Libertine/linlibertine_re-4.7.5ro-webfont.woff') format('woff'),
         url('/fonts/Linux-Libertine/linlibertine_re-4.7.5ro-webfont.ttf') format('truetype'),
         url('/fonts/Linux-Libertine/linlibertine_re-4.7.5ro-webfont.svg#webfontIgdJI780') format('svg');
    font-weight: normal;
    font-style: normal;

}

