/* Variables
-------------------------------------------------- */

@grid-float-breakpoint: @screen-md;




/* PIE
-------------------------------------------------- */

.border-radius-pie(@radius: 3px) {
  border-radius: @radius;
  behavior: url(/js/libs/PIE.htc);
}

.gradient-for-pie(@startColor: #555, @endColor: #333) {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor) to(@endColor)); /*old webkit*/
    background: -webkit-linear-gradient(@startColor, @endColor); /*new webkit*/
    background: -moz-linear-gradient(@startColor, @endColor); /*gecko*/
    background: -ms-linear-gradient(@startColor, @endColor); /*IE10 preview*/
    background: -o-linear-gradient(@startColor, @endColor); /*opera 11.10+*/
    background: linear-gradient(@startColor, @endColor); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@startColor, @endColor); /*PIE*/
}
.pie-box-shadow(@shadow) {
  .box-shadow(@shadow);
  //behavior: url(/js/libs/PIE.htc);
}
#spinner-stop {
  display: none;
}
#spinner-region {
  display: none;
}
.spinner {
  left: 50%;
  position: fixed;
  width: 200px;
  top: 50%;
  margin-left: -100px;
  margin-top: -60px;
  z-index: 10000;
  text-align: center;
  span {
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    display: block;
    width: 200px;
    .border-radius-pie(6px);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 20px 20px 80px;
    background: #333333 url(/img/ajax-loader.gif) center 50px no-repeat;
    text-align: center;
    border: 1px solid #111;
  }
}
// Colors
@red: #ec1c2d;
@mint-cream: #f4fffd;
@light-yellow: #fdffe1;
@light-cyan: #e5fffa;
@light-cyan-drk: #dffff9;
@azure: #ecfdfa;
.colors {
  color: #d7dae7;
  color: #bbf9ee;
  color: #d9dbb8;
  color: #c0c1b4;
  color: #fefff2;
  color: #e5e7f0;
  color: #f5f9bb;
  color: #fff;
  color: @light-cyan-drk;
  color: @mint-cream;
  color: @light-yellow;
}

// Fonts
.scriptFonts {
  font-family: thirstyScriptLight;
  font-family: sinaNova;
  font-family: caslon;
  font-family: garamondBook;
}

.fonts {
  font-family: quicksandBook;
  font-family: quicksandBold;
  font-family: quicksandLight;

  font-family: nexaLight;
  font-family: nexaBold;


  font-family: montserrat;
  font-family: montserratBold;

  font-family: gothamRndMedium;
  font-family: gothamRndBook;
  font-family: gothamRndLight;

  font-family: proximaNova;
  font-family: proximaNovaLight;
  font-family: proximaNovaBlack;

  font-family: codeLight;
  font-family: codeBold;

  font-family: asap;
  font-family: dosis;
  font-family: lato;
  font-family: openSans;
  .scriptFonts();
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}



#loadingGif {
  display: block;
  position: absolute;
  top: 25%;
  margin: auto;
  left: 0;
  right: 0;
}

/* ==========================================================================
   Base tags
   ========================================================================== */

h1, h2, h3, h4, h5, h6  {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

a:hover {
  cursor: pointer;
}


body {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#notification-region {
  .alert {
    //text-align: center;
    //position: absolute;
  }
}

#alert {
  position: fixed;
  left: 50%;
  z-index: 1060;
  .content {
    position: relative;
    left: -50%;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
    .border-radius-pie(5px);
    font-size: 16px;
    //e chefont-weight: bold;
    padding: 10px;
    text-align: center;
    .close {
      color: #fff;
      text-decoration: none;
      margin-top: -9px;
      margin-right: -6px;
      .opacity(100);
    }
  }
 .error {
    border: 1px solid #E73E36;
    background: #fff;
    color: #E73E36;
    .close {
      color: #E73E36;
    }
  }
}

.center-dialog {
  position: fixed;
  left: 50%;
  z-index: 1060;
  text-align: center;
  .inner {
    position: relative;
    left: -50%;
    padding: 10px;
  }
}

form .btn {
  //display: block;
}
form {
  span.error {
    color: #b94a48;;
    display: block;
    //margin-top: -10px;
    margin-bottom: 10px;
  }
}
form.form-inline {
   span.error {
    margin-top: 0px;
  }

}


#myModal {
  #alert;
  .content {
    width: 600px;
    background: #333;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    .inner {
      padding: 40px;
      .clearfix();
    }
    p {
      font-size: 40px;
    }
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(50);
}

/* ==========================================================================
   page header
   ========================================================================== */
.page-header {
  position: relative;
  padding: 7px 14px;
  margin: 0px 0 18px;
  border: 1px solid #DDD;
  background-color: #FBFBFB;
  #gradient > .vertical(#fff, #f5f5f5);
  .box-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
  //margin-top: -18px;
  h3 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px #fff;
  }
}

// product detail uses no margin
#privacyPolicy .page-header {
  margin-top: 15px;
}

/* ==========================================================================
   breadcrumbs
   ========================================================================== */
.breadcrumbs {
  position: relative;
  padding: 7px 14px;
  margin: 0px 0 18px;
  border-bottom: 1px solid #eee;
  background: #f7f7f7;
  //background-color: #FBFBFB;
  //#gradient > .vertical(#fff, #f5f5f5);
  //.box-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
  //margin-top: -18px;
  h3 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    ///text-shadow: 1px 1px #fff;
  }
}


/* ==========================================================================
   Navbar
   ========================================================================== */


.navbar {
  border-radius: 0 !important;
  border: none;
  margin: 0;
  background: #fff;
  .box-shadow(1px 1px 1px rgba(0,0,0,.2));
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }

  button {
    border-color: @red;
    &:hover {
      background-color: #ffe7e9;
    }
  }
  .icon-bar {
    background-color: @red
  }
  .navbar-brand {
    float: left;
    padding: 0;
    margin-top: 7px;
    position: relative;
    width: 133px;
    font-size: 34px;
    .fonticon-logo {
      display: inline-block; // clips width in chrome android. Could be chrome bug
    }
    .fonticon-logo:before { //top
      content: "\e605";
      color: @red;
      //position: absolute;
      //top: 0;
    }
    .fonticon-logo:after {//bottom
      content: "\e60c";
      color: #111;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media (min-width: @grid-float-breakpoint) {
      margin-right: 20px;
      width: 162px;
      font-size: 42px;
    }
  }
  .navbar-nav {
    .clearfix;
    @media (min-width: @grid-float-breakpoint) {
      float: none;
    }
    a {
      padding: 10px 10px;
      font-size: 13px;
      background: #fff6f6;
      border: 2px solid #fff;
      color: #555;
      text-decoration: none;
      display: block;
      &:hover, &:active, &:focus {
        color: #000;
        background-color: #ffe7e7;
      }
      @media (min-width: @grid-float-breakpoint) {
        background: #fff;
        border: 0;
        &:hover, &:active, &:focus {
          background-color: #fff;
        }
      }
    }
    > li > a {
      text-transform: uppercase;
      @media (min-width: @grid-float-breakpoint) {
        padding: 20px 10px;
      }
    }

    .contact-numbers {
      @media (max-width: (@grid-float-breakpoint - 1)) {
        a {
          .phone-number { float: right; }
        }
      }
      @media (min-width: @grid-float-breakpoint) {
        float: right;
        margin-top: 7px;
        a {
          .phone-number { display: block; }
          line-height: 1;
          font-size: 12px;
        }
        li {
          float: left;
          text-align: center;
        }
      }
    }
  }
}

.user-menu-inner {
  margin-top: 15px;
  margin-left: 30px;
}

.user-menu-inner .btn {
  float: left;
}

.navbar .user-menu-inner li a {
  padding: 10px;
  font-size: 13px;
  color: #111;
  //text-shadow: none;
}

.navbar .btn-navbar {
  padding: 14px 15px;
}

/* ==========================================================================
   Carousel
   ========================================================================== */
.carousel {
}
/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: #333;
  padding: 30px 0;
  li a {
    color: #e2e3e4;
    font-size: 13px;
    padding: 10px 0;
    display: block;
  }
  .copyright {
    color: #777e83;
    font-size: 11px;
    clear: both;
    padding-top: 15px;
    border-top: 1px solid #3a3e40;
  }
  .fonticon-rosito-bisani {
    font-size: 28px;
    color: #fff;
  }
  #social-media-icons {
    padding-bottom: 15px;
    text-align: center;
    p {
      color: #fff;
    }
    a {
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    span {
      display: inline-block;
    }
    object {
      position: relative;
      z-index: -1
    }
    #facebook-icon {
      padding: 0 10px;
      }
    #instagram-icon {
      padding: 0 10px;
    }
  }
  @media (min-width: @screen-sm) {
    .footer-logo {
      float: left;
    }
    ul {
      .clearfix;
      float: right;
      margin-top: 1em;
    }
    li {
      float: left;
    }
    li a {
      padding: 0;
      padding-right: 25px;
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  /* was 379px adding 86px */
  margin: 0 auto -465px;
}
#push,
footer {
  height: 465px;
}

@media (min-width: @screen-sm) { //768
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    /* was 134px now adding height of added social media icons 86px */
    margin: 0 auto -220px;
  }
  /* Set the fixed height of the footer here */
  #push,
  footer {
    height: 220px;
  }
}


/* ==========================================================================
   Home
   ========================================================================== */
#home .icons {
  padding: 0px 0;
  .row { text-align: center; }
  .title {
    margin-bottom: 0;
    display: block;
    color: #666;
    font-size: 9px;
  }
  .icon {
    font-size: 20px;
    color: #333;
  }
  .line-break {
    display: block;
  }
  .col-xs-2 { padding: 0; }
  a {
    display: block;
    padding: 15px 0 10px 0;
    &:hover {
      text-decoration: none;
      .title {color: #656565;}
      .icon {color: #656565;}
    }
  }
  @media (min-width: @screen-sm) { //768
    .title {
      font-size: 13px;
    }
    .icon {
      font-size: 35px;
    }
  }
  @media (min-width: @screen-md) { //992
    .line-break { display: inline; }
    .title { color: @red; }
    .icon { color: @red; }
  }
}

#home .body {
  .hd {
    @media (max-width: @screen-xs-max) {
      border-top: 1px solid #ececec;
     .container > .row > [class*='col-'] {
        padding-bottom: 30px;
        border-bottom: 1px solid #ececec;
      }
    }
    @media (min-width: @screen-sm) {
      background-color: #f9f9f9;
      border: 1px solid #ececec;
    }
    @media (min-width: @screen-my-lg) {
      padding: 15px 0;
    }
  }
  .RB-icon {
    float: right;
    margin-left: 10px;
  }
  .philosophy {
    position: relative;
    p {
      font-size: 14px;
      .show-hide-content {
        display: none;
      }
    }
  }
  .current-events {
    font-size: 14px;
    @media (min-width: @screen-sm) {
      border-right: 1px solid #ececec;
    }
    .social-media {
      line-height: 1;
    }
    .fonticon-facebook {
      font-size: 15px;
      vertical-align: bottom;
    }
    h1 {
      margin-bottom: 25px;
    }
    .title {
      font-size: 24px;
    }

  }
  .testimonials {
    padding: 60px 0 50px;
    .quote {
      font-size: 18px;
      text-align: center;
      margin-bottom: 80px;
      .quotes {
        font-family: georgia, serif;
        line-height: 0;
        position: relative;
        top: -.2em;
      }
      .author {
        margin-top: 5px;
        font-size: 14px;
      }
      .logo {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
    @media (min-width: @screen-sm) {//768
      .container {
        max-width: 830px;
      }
      h1 {
        margin-bottom: 40px;
        font-size: 42px;
      }
      .quote {
        font-size: 24px;
        font-family: proximaNovaLight, sans-serif;
        line-height: 1.2;
      }
      .author {
        font-size: 16px;
      }
    }
    h1 {
     text-align: center;
     font-family: caslon, serif;
    }
  }
}

/* ==========================================================================
   form-signin
   ========================================================================== */

body.login, body.signup {
  background: #f5f5f5;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 50px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* ==========================================================================
   Narrow Page
   ========================================================================== */
.narrowPage {
  background: #f5f5f5;
  .content {
    //max-width: 300px;
    padding: 40px;
    margin: 0 auto;
    margin-top: -32px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    .border-radius-pie(5px);
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ==========================================================================
   Misc
   ========================================================================== */

.product {
  h1 {
    text-align: center;
    //margin: 20px 0;
  }
  h2, h3 {
    text-align: center;
  }
  .img-wrapper {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .description {
    margin-bottom: 25px;
  }
  .pdf {
    border: 1px solid #f7f7f7;
  }
  .pdfs a {
    display: block;
  }
  .pdfs  {
    text-align: center;
  }
  .thumbnail {
    display: inline-block;
  }
  @media (min-width: @screen-md) {
    h2, h3 {
      text-align: left;
    }
    #pizza-ovens h3{
      text-align: center;
    }
  }
  .breadcrumbs {
    padding: 7px 14px;
    margin: 0px 0 18px;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
    .title {
      font-size: 16px;
    }
  }
}

.product-pdf a {
	text-decoration: none;
}
.product-pdf a:hover {
	text-decoration: underline;
}

.product-details-grid dt {
	float:left;
	font-weight:bold;
	margin-bottom:6px;
	width:140px;
}

/* ==========================================================================
   Manuals Page
   ========================================================================== */
#manuals {
  h2 {
    //color:#666;
    border-bottom: 1px solid #ccc;
    //margin-bottom: 15px;
    //margin-top: 15px;
    //padding-bottom: .5em;
    //font-size: 30px;
  }
  h4 {
    text-align: center;
    font-size: 24px;
  }
  .item-rows {
    margin-top: 10px;
    overflow: auto;
    list-style: none;
    margin-top: 35px;
    padding: 0;
    .clearfix;
    li {
      float: left;
      width: 175px;
      margin: 0 13px;
      margin-bottom: 15px;
      display: inline;
      text-align: center;
      position: relative;
      @media (max-width: 470px) {
        float: none;
      }
      a {
        padding-top: 5px;
        //border: 1px solid #ccc;
        display: block;
        &:hover {
          .thumbnail {
            border: 1px solid #5FBDFF;
          }
        }
      }
      .thumbnail {
        display: inline-block;
        height: 155px;
        img {
          max-height: 100%;
        }
      }
    }
    .title {
      margin: .3em;
      display: block;
      height: 56px;
      overflow: hidden;
      margin-top: 15px;
    }
    .actions {
      margin: 10px 0;
    }
  }
}

#products {
  h1, h2, h3, h4  {
    text-align: center;
  }
  @media (min-width: @screen-md) {
    h1, h2, h3, h4 {
      text-align: left;
    }
  }
  .items {
    section {
      margin-top: 30px;
    }
  }
  .item-rows {
    padding-left: 0;
  }
  section {
    h2 {
      border-bottom: 1px solid #ccc;
    }
    .name {
      font-size: 18px;
      font-weight: normal;
      margin-top: 10px;
      display: block;
      height: 36px;
      overflow: hidden;
      display: table-row;
      span {
        display: table-cell;
        padding-top: 10px;
      }
    }
    ul {
      overflow: auto;
      list-style: none;
      margin-top: 35px;
    }
    li {
      border: 2px solid white;
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      a {
        display: block;
        display: table;
        width: 100%;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        cursor: pointer;
        border:2px solid #5FBDFF !important;
      }
      .hover-options {
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        border: 1px solid #CCC;
        padding: 3px;
      }
      .thumbnail-wrapper {
        width: 100%;
        height: 155px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}





.thumbs {
  list-style: none;
  &>li {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    text-align: center;
    .pdf {
      border: 1px solid #f7f7f7;
    }
    .actions {
      text-align: center;
      a {
        margin:0 10px;
      }
      .pretend-thumb {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin: 0;
        line-height: 14px;
      }
    }
  }
}




.contextual-menu {
  .clearfix;
  float: left;
  margin: 0;
  margin-top: 15px;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
}

.pdfCaption {
  .edit {
    display: none;
  }
  .edit .display {
    display: none;
  }
}

.editing .caption-input {
  //position: absolute;
}

.editing .pdfCaption .display,
.pdfCaption .edit {
  display: none;
}

.editing .pdfCaption .edit {
  display: block;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus,
.bs-sidebar .nav > li > a:active {
  text-decoration: none;
  background-color: #e5e5e5;
  border-right: 1px solid #999;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #111;
  background-color: transparent;
  border-right: 1px solid #111;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1070px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 233px;
  }
}


/* ==========================================================================
   Contact Page
   ========================================================================== */
#contact {
  .hd {
    position: relative;
    width: 100%;
    .col-xs-6 {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    .caption {
      @media (min-width: @screen-sm) {
        width: 100%;
        position: absolute;
        bottom: 0;
        div {
          font-size: 20px;
          color: #333;
          text-align: center;
          span {
            background: rgba(255, 255, 255, .8);
            padding: 5px 10px;
          }
        }
      }
    }
  }
  img {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .container {
    padding: 30px 30px 80px;
  }
  @media (min-width: @screen-md) {//992  //768
    .bd {
      background: #f7f7f7;
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .container {
      max-width: 850px;
      background: #fff;
      border: 1px solid #f2f2f2;
      border-radius: 3px;
      padding: 10px 50px 80px 50px;
      .box-sizing(content-box);
    }
    h1 {
      margin-bottom: 20px;
    }
  }
}

/* ==========================================================================
   About Page
   ========================================================================== */

#about {
  .container {
    padding: 40px 30px 80px;
  }
  @media (min-width: @screen-sm) {//768
    .container {
      max-width: 830px;
      background: #fff;
      border: 1px solid #f2f2f2;
      border-radius: 3px;
      padding: 60px 100px 80px;
    }
    .bd {
      background: #f7f7f7;
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
  h1 {
    text-align: center;
    margin-top: 0;
  }
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
  img {
    width: 100%;
  }
  .hd {
    //height: 350px;
    //width: 100%;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec1c2d+0,d3191c+99 */
    //background: #ec1c2d; /* Old browsers */
    //background: -moz-linear-gradient(top,  #ec1c2d 0%, #d3191c 99%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  #ec1c2d 0%,#d3191c 99%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom,  #ec1c2d 0%,#d3191c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1c2d', endColorstr='#d3191c',GradientType=0 ); /* IE6-9 */
  }
}
/* ==========================================================================
   Reviews Page
   ========================================================================== */
#reviews {
  .rating-stars {
    line-height: 1em;
    height: 1em;
    font-size: 24px;
    display: block;
    overflow: hidden;
  }
  .rating-stars-off {
    color: #efefef;
  }
  .rating-stars-on {
    color: #b0cb46;
    margin-top: -1em;
    width: 80%;
  }
}
