@import "../js/libs/bootstrap/less/bootstrap.less";
@import "../js/libs/bootstrap/less/responsive.less";
// Fonts
@import "fonts.less";

[class^="icon-"]{
  background-image: url(/js/libs/bootstrap/img/glyphicons-halflings.png);
}
.icon-white {
  background-image: url(/js/libs/bootstrap/img/glyphicons-halflings-white.png);
}

.border-radius-for-pie(@radius: 5px) {
  .border-radius(@radius);
  behavior: url(/js/libs/PIE.htc);
}

.gradient-for-pie(@startColor: #555, @endColor: #333) {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor) to(@endColor)); /*old webkit*/
    background: -webkit-linear-gradient(@startColor, @endColor); /*new webkit*/
    background: -moz-linear-gradient(@startColor, @endColor); /*gecko*/
    background: -ms-linear-gradient(@startColor, @endColor); /*IE10 preview*/
    background: -o-linear-gradient(@startColor, @endColor); /*opera 11.10+*/
    background: linear-gradient(@startColor, @endColor); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@startColor, @endColor); /*PIE*/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}


/* ==========================================================================
   Base tags 
   ========================================================================== */

h1, h2, h3 {
  line-height: 1.3;
}


body {
  //background-color: #f8f8f8;
  //padding-top: 70px;
  //background-color: #EFEFEF;
  //background: url(/img/bg.png) repeat top left; 
}


#alert {
  position: fixed;
  left: 50%;
  z-index: 1060;
  .content {
    position: relative;
    left: -50%;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
    .border-radius-for-pie(5px);
    font-size: 16px;
    //e chefont-weight: bold;
    padding: 10px;
    text-align: center;
    .close {
      color: #fff; 
      text-decoration: none;
      margin-top: -9px;
      margin-right: -6px;
      .opacity(100);
    }
  }
 .error {
    border: 1px solid #E73E36;
    background: #fff;
    color: #E73E36;
    .close {
      color: #E73E36;
    }
  }
}



/* ==========================================================================
   Contact Page 
   ========================================================================== */
#contact {
  .span4.well {
    width: 360px; 
  }
  button { 
    display: block;
  }
  textarea {
    height: 150px;
    width: 300px;
  }
  .body {
    p {
      font-size: 28px;
    }
    b {
      font-size: 24px;
    }
  }
}

form {
  span.error {
    color: @errorText;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

#myModal {
  #alert;
  .content {
    width: 600px; 
    background: #333;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    .inner {
      padding: 40px;
      .clearfix(); 
    }
    p {
      font-size: 40px;
    }
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(50);
}

/* ==========================================================================
   Navbar 
   ========================================================================== */

.navbar {
  margin-bottom: 0;
}

@red: #ec1c2d;

.navbar .navbar-inner {
  .border-radius(0);
  border: none;
  border-bottom: 1px solid #fff;
  #gradient > .vertical(@red, darken(@red, 5%));
  //#gradient > .vertical(#f6f6f6, #d9d9d9);
  .nav .active > a {
    background-color: @red;
  }
  .nav > li > a {
    &:hover {
      background-color: @red;
    }
  }
}

.navbar .container {
  //width: 1170px;  
  //position: relative;
}

.navbar .brand {
  margin: 0;
  padding: 0;
}
.navbar .rb {
  position: absolute;
  //width: 140px;
  z-index: 2;
  top: -24px;
  right: 0;
}

.navbar .logo {
  padding: 6px 0;
  //width: 200px;
  //margin-left: 125px;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.navbar .nav li a {
  padding: 28px 20px 24px;
  font-size: 18px;
  color: #fff;
  text-shadow: none;

}

/* ==========================================================================
   Carousel 
   ========================================================================== */
.carousel {
  margin-bottom: 0;
}

.carousel-indicators {
  li {
    .border-radius-for-pie(5px);
  }
}

.carousel-control {
  .border-radius-for-pie(23px);
  .opacity(50);
}




#icons-left section {
  text-align: center;
  margin-top: 20px;
}

#icons-left section h1 {
  font-family: SinaNova, arial;
  font-family: Quicksand-Book, arial;
  font-family: Nexa-Bold, arial;
  font-family: Asap, arial;
  font-family: LinuxLibertine;
  font-weight: normal;
  font-size: 44px;
}

#icons-left hr {
  height: 1px;
  background-color: #fff;
}

#icons-left .container {
  //width: 1170px;
}
#icons-left .about p {
  line-height: 1.7;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

#icons-left .row {
  margin-top: 20px;
}

#icons-left .box {
  .clearfix;
  border: 1px solid #ddd;
  background-color: #fff;
  .border-radius-for-pie(5px);
  padding: 20px;
  margin-bottom: 15px;
  h2 {
    font-size: 24px;     
    text-align: center;
  }
  img {
    height: 100px;   
    float: left;
    margin-right: 10px;
  }
}

#icons-left .box.within {
  width: 200px;
  float: right;
  border: none;
  margin: 20px;
  background-color: #eee;
  h3 {
    font-size: 18px;
  }
}

/* ==========================================================================
   Footer 
   ========================================================================== */
footer {
  //background-color: #444;
  background-color: #111;
  margin-top: 30px;
}

footer .container {
  ///width: 1170px;
}

footer ul {
  list-style: none;
}

footer li {
  float: left; 
}

footer li a, footer .copyright {
  display: block;
  color: #ccc;
  padding: 15px;
}

footer .logo img {
  width: 130px;
}

footer .logo a{
  padding: 10px;
}

/* ==========================================================================
   Silver Bar 
   ========================================================================== */

.section2 {
  //background: url(/img/bg.png) repeat top left; 
  padding-bottom: 20px;
  h2 {
    font-family: LinuxLibertine, arial;
    //font-family: 'Libre Baskerville', serif;
    font-family: Quicksand-Book, arial;
    font-family: Nexa-Bold, arial;
    ///font-family: Nexa-Bold, arial;
    color: #666;
    color: @red;
    font-weight: normal;
    line-height: 1;
    .clearfix;
  }
  .testimonials {
    p{
      //font-family: Quicksand-Book, arial;
      //font-family: LinuxLibertine, arial;
    }
  }
  .current-events {
    h2 {
      //font-family: SinaNova, arial;
      //font-family: Nexa-Bold, arial;
    }
    p {
      //font-family: SinaNova, arial;
      //font-family: Asap, arial;
    }
  }
  .header {
    //#gradient > .vertical(@red, darken(@red, 5%));
    //#gradient > .vertical(#222, #111);
    //#gradient > .vertical(#fff, #f2f2f2);
    padding: 20px;
    padding-bottom: 0;
  }
  .body {
    padding: 20px;
    padding-top: 0;
  }
  p {
    //font-family: 'Libre Baskerville', serif;
    //font-family: Nexa-Bold, arial;
    //font-family: SinaNova, arial;
    //font-family: Quicksand-Book, arial;
    //font-family: Asap, arial;
    //font-family: LinuxLibertine, arial;
  }
  .divider {
    //background: url(/img/bg-module-top-shadow.png) no-repeat top center; 
  }
  .span6 {
    margin-top: 20px;
    .content {
      //padding: 0px; 
      background: #fff;
      //border: 1px solid #eee;
      //.border-radius(@baseBorderRadius);
      //.box-shadow(0 1px 3px rgba(0,0,0,.055));
    }
  }
  .news-icon {
    width: 75px;
    margin-right: 20px;
    float: left;
  }
  .chat-icon {
    width: 100px;
    float: left;
    margin-right: 20px;
  }
  .quotes {
    //margin-top: -16px;
    font-family: georgia;
    font-size: 30px;
    float: left;
    display: block;
  }
  .quotes-r {
    font-family: georgia;
    font-size: 30px;
    //float: left;
    //display: block;
  }
  .testimonials {
    p {
      margin-bottom: 30px;
    }
    .header {
      margin-bottom: 25px;
    }
  }
}



#icons-in-navbar .section2 {
  background: url(/img/bg.png) repeat top left; 
  padding-bottom: 20px;
  .divider {
    background: url(/img/bg-module-top-shadow.png) no-repeat top center; 
  }
  .span6 {
    margin-top: 20px;
    .content {
      padding: 0;
      background: #fff;
      border: 1px solid #ddd;
      border: none;
      .border-radius(@baseBorderRadius);
      .box-shadow(0 1px 3px rgba(0,0,0,.055));
      .box-shadow(0 0px 0px rgba(0,0,0,.055));
    }
  }
  .header {
    #gradient > .vertical(@red, darken(@red, 5%));
    //#gradient > .vertical(#222, #111);
    //#gradient > .vertical(#fff, #f2f2f2);
  }
  .body {
    padding: 20px;
  }
  h2 {
    font-family: LinuxLibertine, arial; font-weight: normal;
    margin: 0;
    color: #fff;
    padding: 20px;
  }
  .testimonials {
    p{
      font-size: 16px;
      font-family: Quicksand-Book, arial;
      //font-family: SinaNova, arial;
    }
  }
  .current-events {
    p {
      //font-family: SinaNova, arial;
      font-family: LinuxLibertine, arial;
      //font-family: Asap, arial;
    }
  }
  p {
    //font-family: 'Libre Baskerville', serif;
    //font-family: Nexa-Bold, arial;
    //font-family: SinaNova, arial;
    //font-family: Quicksand-Book, arial;
    //font-family: Asap, arial;
    //font-family: LinuxLibertine, arial;
  }

}


#silver-bar {
  .icons {
    //background-color: #fff;
    padding: 10px 0;
    #gradient > .vertical(#eee, #bbb);
    img {
      height: 39px;
      margin-top: 10px;
    }
    .span2 {
      text-align: center;
    }
    h2{  
      font-weight: normal;
      font-size: 16px;
      margin-top: 0;
      color: #fff;
      color: @red;
    }
    .circle-bg {
      width: 60px;
      height: 60px;
      background-color: #fff;
      background-color: @red; 
      border-radius: 115px;
      margin: 0 auto;
    }
  }
  .philosophy {
    #gradient > .vertical(#f7f7f7, #fff);
      padding-bottom: 50px;
    .container {
    }
    h1 {
      text-align: center;
      font-family: LinuxLibertine, arial;
      font-weight: normal;
    }
    .rb {
      height: 200px;
      float: left;
      margin-right: 20px;
    }
    p {
      margin: 0 auto;
      line-height: 1.7;
      font-size: 18px;
      font-family: 'Libre Baskerville', serif;
      font-weight: normal;
    }
  }
}



#red-icons-on-black {
  .icons {
    //background-color: #fff;
    #gradient > .vertical(#222, darken(#111, 5%));
    padding: 10px 0;
    //#gradient > .vertical(#222, darken(#111, 5%));
    img {
      height: 39px;
      margin-top: 10px;
    }
    .span2 {
      text-align: center;
    }
    h2{  
      font-weight: normal;
      font-size: 16px;
      margin-top: 0;
      color: #fff;
      color: @red;
    }
    .circle-bg {
      width: 60px;
      height: 60px;
      background-color: #fff;
      background-color: @red; 
      border-radius: 115px;
      margin: 0 auto;
    }
  }
  .philosophy {
    #gradient > .vertical(#f7f7f7, #fff);
      padding-bottom: 50px;
    .container {
    }
    h1 {
      text-align: center;
      font-family: LinuxLibertine, arial;
      font-weight: normal;
    }
    .rb {
      height: 200px;
      float: left;
      margin-right: 20px;
    }
    p {
      margin: 0 auto;
      line-height: 1.7;
      font-size: 18px;
      font-family: 'Libre Baskerville', serif;
      font-weight: normal;
    }
  }
}

#red-icon-bar {
  .icons {
    #gradient > .vertical(@red, darken(@red, 5%));
    padding: 10px 0;
    //#gradient > .vertical(#222, darken(#111, 5%));
    img {
      height: 39px;
      margin-top: 10px;
    }
    .span2 {
      text-align: center;
    }
    h2{  
      font-weight: normal;
      font-size: 16px;
      margin-top: 0;
      color: #fff;
      //color: @red;
    }
    .circle-bg {
      width: 60px;
      height: 60px;
      background-color: #fff;
      background-color: @red; 
      border-radius: 115px;
      margin: 0 auto;
    }
  }
  .philosophy {
    #gradient > .vertical(#f7f7f7, #fff);
      padding-bottom: 50px;
    .container {
    }
    h1 {
      text-align: center;
      font-family: LinuxLibertine, arial;
      font-weight: normal;
    }
    .rb {
      height: 200px;
      float: left;
      margin-right: 20px;
    }
    p {
      margin: 0 auto;
      line-height: 1.7;
      font-size: 18px;
      font-family: 'Libre Baskerville', serif;
      font-weight: normal;
    }
  }
}

#icons-in-navbar {
  .navbar-inner {
    //#gradient > .vertical(@red, darken(@red, 5%));
  }
  .icons {
    padding: 10px 0;
    li {
      text-align: center;
      margin: 0 15px;
    }
    li img {
      height: 29px;
    }
    .span2 {
      text-align: center;
    }
    h2{  
      font-weight: normal;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
    }
    .circle-bg {
      width: 60px;
      height: 60px;
      background-color: #fff;
      background-color: @red; 
      border-radius: 115px;
      margin: 0 auto;
    }
  }
  .philosophy {
    #gradient > .vertical(#f7f7f7, #fff);
      padding-bottom: 50px;
    .container {
    }
    h1 {
      text-align: center;
      font-family: LinuxLibertine, arial;
      font-weight: normal;
    }
    .rb {
      height: 200px;
      float: left;
      margin-right: 20px;
    }
    p {
      margin: 0 auto;
      line-height: 1.7;
      font-size: 18px;
      font-family: 'Libre Baskerville', serif;
      font-weight: normal;
    }
  }
}




/* ==========================================================================
   Home 
   ========================================================================== */

#home .icons {
  background-color: #111;
  padding: 20px 0;
  //#gradient > .vertical(#222, darken(#111, 5%));
}

#home .icons .span2 {
  text-align: center;
}

#home .icons img {
  height: 39px;
}

#home .icons h2{  
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  //color: @red;
  color: #fff;
  //color: #111;
  //font-family: arial, sans-serif;
}


#home .philosophy {
  //margin: 50px 0;
  #gradient > .vertical(#f7f7f7, #fff);
  //background-image: url(/img/RB-icon.png) no-repeat center center; 
    padding-bottom: 50px;
  .container {
    //padding-bottom: 50px;
    //background: url(/img/RB-icon.png) no-repeat center center; 
  }
  h1 {
    text-align: center;
    font-family: LinuxLibertine, arial;
    font-weight: normal;
  }
  .rb {
    height: 200px;
    float: left;
    margin-right: 20px;

  }
  p {
    margin: 0 auto;
    line-height: 1.7;
    //padding: 20px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
  }
}


/* ==========================================================================
   Machines 
   ========================================================================== */
#machines {
  background: #fff;
}

#machines .headline {
  margin: 50px 0 50px 0;
}

#machines .headline h1 {
  position: relative;
  text-align: center;
  font-family: LinuxLibertine, arial;
  font-weight: normal;
  //text-shadow: 2px 2px 0px #fff;
  //colr:#ec1c2d; 
  //color: #111;
  //color: @red;
  font-size: 36px;
  margin-top: 30px;
  line-height: 1;
  .quote {
    margin-top: -28px;
  }
  b {
    font-family: georgia, serif;
    font-size: 100px;
    //position: absolute;
    display: inline-block;
    //background-color: #e3e2df;
    line-height: .1;
    height: 54px;
  }
  b.l {
    margin-right: 10px;
  }
  b.r {
    margin-left: 10px;
    height: 35px;
    line-height: .7;
    display: none;
  }
}

#machines .products h2 {
  text-align: center;
  margin: 30px 0 20px;
  font-size: 40px;
  font-weight: normal;
  //font-family: 'Libre Baskerville', serif;
  //font-family: Nexa-Bold, arial;

  //font-family: SinaNova, arial;
  font-family: Quicksand-Book, arial;
  //font-family: Asap, arial;
  //font-family: LinuxLibertine;


}

#machines .headline h3 {
  text-align: center;
  font-weight: normal;
}

#machines .products {
  background: url(/img/bg.png) repeat top left; 
  padding-bottom: 20px;
  .divider {
    background: url(/img/bg-module-top-shadow.png) no-repeat top center; 
    //display: block;
    //margin: 0 auto;
  }
}

#machines .thumbnails .thumbnail {
  padding: 20px;
  padding-top: 30px;
  background-color: #fff;
  img {
    height: 200px;
  }
}

#machines .thumbnails h3{
  text-align: center;
}

#machines .philosophy {
  //margin: 50px 0;
  #gradient > .vertical(#f7f7f7, #fff);
  //background-image: url(/img/RB-icon.png) no-repeat center center; 
    padding-bottom: 50px;
  .container {
    //padding-bottom: 50px;
    //background: url(/img/RB-icon.png) no-repeat center center; 
  }
  h1 {
    text-align: center;
    font-family: LinuxLibertine, arial;
    font-weight: normal;
  }
  .rb {
    height: 200px;
    float: left;
    margin-right: 20px;

  }
  p {
    margin: 0 auto;
    line-height: 1.7;
    //padding: 20px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
  }
}
