<div id="reale">
  <div class="header">
    <div class="container">
      <h1><span>The first &ldquo;Personal&rdquo; commercial espresso machine</span></h1>
      {{!<h2>Based on the design of a commercial machine but build for your home</h2>}}
      {{!<h2 style="clear: left"><span><b>The Reale</b> gives you the &ldquo;<b>real</b>&rdquo; 
          taste of the coffee shop in your home</span>
      </h2>}}
      <h2 style="clear: left">
          <span>The <b>Reale</b> is a re-engineered commercial machine for home use</span>
      </h2>
      <img id="reale-img" src="/img/reale.png"/>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#">Features</a>
          </li>
          <li><a href="#">Specs</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Warranty</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Support</a></li>
        </ul>
        <div class="intro-statement">
          {{!
            <p class="quote"><img class="quote-left" src="/img/big-quote-left.png"/>
            ...the Reale will have to create the exact same quality 
            of taste as our other commercial machines<img class="quote-right" src="/img/big-quote-right.png"/>
            </p>
            <p class="explanation">
              ...said our lead engineer.
              We only know commercial machines so this was our goal in creating
              our first home unit. To make this type of machine a reality we took a regular commercial 
              machine and re-engineered it. We kept all the functionality necessary to brew a cafe quality shot
              but removed the ability to do large volume.
            </p>
          }}
          <p class="quote"><img class="quote-left" src="/img/big-quote-left.png"/>
            ...the Reale has the exact taste and benefits of our commercial machines
            because its designed from a commercial machine
            <img class="quote-right" src="/img/big-quote-right.png"/>
          </p>
          <p class="explanation">
          ...our engineers only know commercial machines so when we were asked to create our first
          home unit, we made it with the same quality parts as our commercial machines.
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="buy-box">
          <div class="line-one">
            <a href="#">Free Shipping</a> <a href="#" class="pull-right">No Sales Tax</a> 
          </div>

          <div class="price-line">
            <span class="product-name">Reale Espresso Machine</span> <span class="price">1,549.99</span>
          </div>
          <dl class="rating-container">
            <dd class="rating-ratio">
              <div href="#">
                <span class="rating-stars rating-stars-off">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                <span class="rating-stars rating-stars-on">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
              </div>
            </dd>
            <dd class="rating-ratio-count">
               <a href="#">4 Reviews</a> 
            </dd>
          </dl>
          <div class="buy-btn"> 
            <a class="btn btn-success btn-large">Buy</a>
          </div>
          <ul class="product-incentives">
            <li class="pull-left"><i class="icon-ok-sign"></i> <a href="#">30 Day Guarantee</a></li>
            <li class="pull-right"><i class="icon-lock"></i> <a href="#">Safe and Secure</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="manufacturing-percentage">
      <h2>An unmatched precision in machining allows us to deliver a &ldquo;Personal&rdquo; commercial machine</h2>
      <dl>
        <dd class="percent">
          <p>
            65%
          </p>
        </dd>
        <dd class="explanation">
          of the internal components are made in our manufacturing plant.
          Copper boilers, copper connecting pipes, and steel frames are produced exactly to our
          specific requirements. This precision in manufacturing enables us to create a personal machine 
          that delivers the taste of the coffee shop in your home.
        </dd>
      </dl>
    </div>
    <div class="features">
      <h2>Features just like a real coffee shop machine</h2>
      <section>
        <img class="icon" src="/img/thermometer.svg" />
        <h3>Stable heat to stop sour espresso</h3>
        <p>
          One of the problems many machines have is they do not have the heavy 
          commercial grade internal components to keep the temperature consistent.  
          If the temperature varies in the slightest from the boiler to the moment 
          of extraction the result is sour espresso. To guarantee stable 
          temperature through extraction we use <b>9 pounds of chrome
          plated brass</b> otherwise known as the legendary e61 group head. 
          Its density and its reliance on basic physics as opposed to added 
          electrical parts is what keeps the water temperature perfectly stable.
          Its the same group head used in our other commercial machines.
        </p>
      </section>
      <section>
        <img class="icon" src="/img/water-drop.png" />
        <h3>The Perfect shot through Pre-infusion</h3>
        <p>
          Before the actual extraction of espresso, the Reale gently wets the 
          grinds which gives them a uniform density. Now when the coffee receives 
          the full pressure of the brew, the water seeps through evenly allowing 
          the most flavor and aroma to be extracted. It is the exact same method 
          used in coffee bar machines. 
        </p>
      </section>
      <section>
        <img class="icon" src="/img/milk-pitcher.png" />
        <h3>Steam milk without delay</h3>
        <p>
          The temperature to steam milk is hotter than the temperature to extract a 
          shot so for most home units you have to wait five minutes after pulling a shot
          to steam milk, however not with the Reale. We use a dynamic boiler called a 
          heat exchanger so there is no wait time just like in the cafe. 
        </p>
      </section>
    </div>

  </div>
</div>
