doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    title Manuals
    script
      var user = {"_id":"519192be67784e440f000001","username":"xaevir","slug":"xaevir"}
    //link(rel='stylesheet', href='/css/main.css')
    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/js/libs/respond.js')

    script(data-main='/js/manuals/main', src='/js/libs/require.js')
  body
    #notification
    #app.container
      block content
