footer 
  .container
    ul
      li.logo
        a(href="/")
          img(src="/img/logo-white.png")
      li.pull-right.copyright
        | All rights reserved. 
        - var year = new Date().getFullYear()
        | Copyright &copy; #{year} Rosito Bisani Imports, Inc. 

