#home-espresso-machine
  img(src="/img/reale.jpg")
  .container
    h1 The Reale has the same technology as the commercial cafe units
    .row
      .span8
        ul      
          li 
            h2 Pre-infusion technology for exact cafe taste
            p.
              Pre-infusion is a brewing technology in which 
              the coffee grounds are wet prior to the extraction of the espresso. 
              Basically a little bit of water is introduced to the coffee puck 
              and the coffee puck absorbs the grounds and swells up to create 
              greater surface area. All of this happens without pressure. Then 
              after a few seconds (anywhere from 2-5) the pump kicks on and the 
              extraction begins. As a result of the pre-infusion, more of the 
              water is in contact with more of the coffee…so more caramels, oils, 
              and flavors are extracted from the coffee. Pre-infusion is not only 
              a consistency mechanism, but it creates optimal brewing conditions.
          li
            h2 Powerful Steam Element
            p.
              Good steam capacity out of the boiler 1800 watts. Powerful element generating
              great steam if you wanna steam milk for a cappucino or latte and you get the same
              type of consistency on the steam pressure at home as you would in the cafe 
          li 
            h2 No electonic buttons, its the real authenic
            p.
              No digital control panel so less digital issues, less electronics. 
              More old school. No problems of failure
              More tradition, More authentic. Lack of more complex electrical system.
          li
            h2 Simple to operate 
            p.
              No programming involved. 
          li   
            h2 No need for plumbing
          li 
            h2 Slick tradional look
          
        ul(style="display: none")
          li 110 Volt
          li “Pour Over” Machine – has a water tank and does not require a direct water line
          li(style="display: none").
            How is the fact that water temperature stays stable a selling point?
            E 61 Group head
            Commercial thermo compensated group head with dynamic pre-infusion 
            technology for optimal espresso technology (thermo compensated group 
            head means that there is constant hot water circulation in the group 
            head to keep the temperature stable when brewing espresso. Imagine 
            the espresso machine as an entire water circuit. Cold water comes 
            in and goes through the heat exchangers where it’s heated, and then 
            circulates throughout the machine including the group head to keep 
            hot water readily available for when someone goes to pull an 
            espresso shot. All of our machines have this including the Reale. 
            See attached diagram).
          li(style="display: none").
            This machine has the same group head as the tecnica and Synchro so 
            it will make a commercial coffee shop quality espresso based on 
            everything I wrote in this paragraph.
          li Stylish stainless steel body panels with art decorative design
          li Brewing operated by traditional Italian camme lever
          li 1 stainless steel hot water spout, and 1 stainless steel steam wand
          li Ergonomic portafilter at a natural 10 degree angle for comfortable use
          li.
            includes 1 singleportafilter, 1 double portafilter, blind filter 
            and group head brush for cleaning, coffee scoop, and tamp
      .span4
        p sales@rosito-bisani.com
        .well.contact
