@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="fonticon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fonticon-water-dropplet:before {
	content: "\e600";
}
.fonticon-tools:before {
	content: "\e601";
}
.fonticon-thermometer:before {
	content: "\e602";
}

.fonticon-rb-icon:before {
	content: "\e604";
}
.fonticon-pizza-oven:before {
	content: "\e605";
}
.fonticon-pasta:before {
	content: "\e606";
}
.fonticon-milk-pitcher:before {
	content: "\e607";
}
.fonticon-juicer:before {
	content: "\e608";
}
.fonticon-gelato:before {
	content: "\e609";
}
.fonticon-espresso-machine:before {
	content: "\e60a";
}
.fonticon-reale-logo:before {
	content: "\e60b";
}
.fonticon-facebook:before {
	content: "\e60c";
}
.fonticon-specialty-foodservice-equipment:before {
	content: "\e60d";
}

.fonticon-rosito-bisani:before {
	content: "\e603";
}

