<div class="row">

  <div class="span3">

    <form method="post" action="#">
      <input type="text" name="name" placeholder="Name" />

      <select class="span3 category" name="category">
        <option value="">-- Select Category --</option>
        {{#categories}}
          <option value="{{name}}">{{name}}</option>
        {{/categories}}
      </select>

      <div class="subCat"></div>

      <input type="file" name="file">
    </form>

  </div>


</div>
