<div class="container">
  <h1>Specialty Foodservice Equipment</h1>
  <div class="row">
    <div class="col-md-3">
      <div id="subnav-region"></div>
    </div>
    <div class="col-md-9">
      <div id="products-region"></div>
      <section id="display-cases">
        <h2>Display Cases</h2>
        <ul class="item-rows row">
          <li class="col-md-4 col-sm-4">
            <a href="http://www.ifi.it/en">
              <div class="thumbnail-wrapper">
                <img alt="" src="/img/ifi-logo.svg">
              </div>
              <div class="name"><span>Ifi</span></div>
            </a>
          </li>
          <li class="col-md-4 col-sm-4">
            <a href="http://oscartek.com/">
              <div class="thumbnail-wrapper">
                <img alt="" width="230" src="/img/otk-logo.png">
              </div>
              <div class="name"><span>Oscartek</span></div>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
