<div class="container">
  <h1>Specialty Foodservice Equipment</h1>
  <div class="row">
    <div class="col-md-3">
      <div id="subnav-region"></div>
    </div>
    <div class="col-md-9">
      <div id="products-region"></div>
    </div>
  </div>
</div>
