#reale {
  .body {
    //background: url(/img/noise_f6f6f6.png) repeat top left;
    //background: #62ffe1;
  }
  .section1 {
  }
  .section2 {
    background: #fff;
  }
  .quote {
    margin-top: 75px;
    font-family: 'garamondBook';
    font-weight: normal; 
    font-size: 30px;
    text-align: center;
    line-height: 1;
    width: 700px;
    .clearfix;
    .quotemark {
      font-size: 40px;
    }
    .quote-left {
      margin-top: -20px;
      margin-right: 10px;
    }
    .quote-right {
      //margin-top: 20px;
      margin: 0;
      position: relative;
      top: 6px;
      margin-left: 10px;
    }
  }
  .coffeegeek {
    .clearfix;
    .quote {
      float: left;
      width: 580px;
      font-size: 40px;
    }
    .quote-left {
      float: left;
      margin-right: 0;
    }
    .author {
      .clearfix;
      width: 250px;
      float: right;
      margin-top: -30px;
      .line-one {
        font-size: 28px;
        vertical-align: bottom;
        margin-bottom: 0;
        img {
          width: 150px;
        }
      }
      .line-two {
        font-size: 13px;
      }
    }
  }
  .reale-engineers {
    .quote-left {
      width: 40px;
    }
    .quote-right {
      width: 40px;
    }
    .author {
      width: 400px;
      float: right;
      .line-two {
        font-size: 13px;
      }
    }
  }
  .features {
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
    padding-top: 40px;
    section1 {


      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: rgba(0, 0, 0, 0.0470588);
      width: 100%;
      float: left;
      position: relative;
      background-color: rgba(0, 0, 0, 0.00784314);


      background: rgba(0, 0, 0, 0.045);
    }
    section {
      //background: #f7f7f7;
      margin: 40px 20px;
      margin-bottom: 60px;
      clear: both;
      padding-bottom: 20px;
      .clearfix
    }
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-top: -15px;
      text-align: center;
    }
    .icon {
      display: block;
      font-size: 80px;
      text-align: center;
      background: #6c7175;
      color: #fff;
      width: 120px;
      height: 120px;
      .border-radius-pie(999px);
      border: 2px solid #fff;
      margin: 0 auto;
      line-height: 1.5;
    }
    .fonticon-milk-pitcher {
      font-size: 70px;
      line-height: 1.8;
    }
    h2 {
      font-family: 'quicksandBook';
      margin-top: 40px; 
      font-weight: normal; 
      font-size: 48px;
      line-height: 1;
      margin-bottom: .75em;
      text-align: center;
    }
    h3 {
      font-family: 'Asap';
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 34px;
      font-weight: normal;
      text-align: center;
    }
  }
  .manufacturing-percentage {
    .clearfix;
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
    padding-top: 40px;
    h2 {
      margin-top: 40px; 
      font-weight: normal; 
      font-size: 48px;
      font-family: 'quicksandBook';
      line-height: 1;
      margin-bottom: .5em;
    }
    dl {
      display: table-row;
      dd {
        display: table-cell;
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    .percent {
      width: 300px;
      height: 300px;
      background: skyblue;
      .border-radius-pie(999px);
      color: #fff;
      font-size: 115px;
      float: left;
      margin-right: 20px;
      line-height: 2.6;
      //margin: 0 auto;
      p {
        text-align: center;
      }
    }
    .explanation {
      //font-family: verdana;
      font-size: 24px;
      margin-top: 30px;
      line-height: 1.5;
    }
  }
  .nav {
    //margin-top: -37px;
    margin: 0;
    position: absolute;
    bottom: 0;
    a {
      color: #fff;
      color: #d7dae7;
      font-size: 24px;
      font-family: openSans;
      &:hover {
        color: #555;
        background: #fff;
      }
    }
    .active a {
      color: #555;
      background: url(/img/noise_f6f6f6.png) repeat top left;
    }
  }
  .nav-tabs {
    border-bottom: none;
  }
  .buy-box {
    .clearfix;
    float: right;
    //background-color: #f7f7f7;
    background-color: pink;
    border: 2px solid #666;
    margin-left: 50px;
    margin-top: 10px;
    width: 250px;
    clear: both;
    //padding: 15px;
    font-size: 13px;
    //background: url(/img/noise_f6f6f6.png) repeat top left;
    .wrapper {
      padding: 10px;
      //border: 2px solid #666;
      border: 5px solid @light-cyan-drk;
      background: orange;
    }
    .line-one {
      margin-bottom: 20px;
      a {
        //color: #666;
        //color: #00c8d7;
        //text-decoration: underline;
      }
    }
    .price-line {
      margin-bottom: 20px;
      .product-name {
        font-size: 16px;
      }
      .price {
        float: right;
        padding-top: 3px;
      }
    }
    dl.rating-container {
      display: table-row;
      dd {
        display: table-cell;
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    .rating-ratio {
      div {
        display: block;
        border-right: 1px solid #ccc;
        padding-right: 5px;
      }
    }
    .rating-stars {
      line-height: 1em;
      height: 1em;
      font-size: 24px;
      display: block;
      overflow: hidden;
    }
    .rating-stars-off {
      color: #efefef;
      //color: #fff;
    }
    .rating-stars-on {
      color: #b0cb46;
      margin-top: -1em;
      width: 80%;
    }
    .buy-btn {
      margin: 40px;
      text-align: center;
      a {
        display: block;
      }
    }
    .product-incentives {
      .clearfix;
      list-style: none;
      margin: 0;
      a {
        //color: #00c8d7;
      }
    }
  }
  #specs {
    h1 {
      font-family: 'quicksandBook';
      font-weight: normal;
    }
    .key-features {
      li {
        font-size: 18px;
        margin-bottom: 1em;
        line-height: 1.4;
      }
    }
    table {
      border: 1px solid #dadada;
      border-collapse: separate;
      width: 100%;
      text-align: left;
      col {
        width: 25px;
      }
      th {
        font-weight: bold;
        border-color: #fff;
        background-color: #f7f7f7;
        border-bottom: 1px solid #fff;
        padding: 5px 12px;
        width: 25%;
      }
      .last {
        th {
          border-bottom: 0;
        }
      }
      td {
        padding: 5px 12px;
      }
      .even {
        background: #fafafa;
      }
    }
  }
}

