doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    title File Upload 
    //link(rel='stylesheet', href='/css/main.css')
    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/js/libs/respond.js')

    script(data-main='/js/fileUpload/main', src='/js/libs/require.js')
  body
    #dialog-region
    #app
      block content
