<span class="thumbnail-wrapper">
  <img alt="{{title}}" src="/img/manuals/{{thumb}}"/>
</span>
<h4>{{title}}</h4>
<div class="actions">
  <a href="/admin/manuals/{{_id}}/edit" class="btn btn-small js-edit">
    <i class="icon-pencil"></i>
    Edit
  </a>
  <button class="btn btn-small js-delete">
    <i class="icon-remove"></i>
    Delete
  </button>
</div>
