<form class="form-inline" style="margin-top: 15px">
  <label>Name: </label>
  <input type="text" class="span3" name="title" value="{{title}}">

  <button class="btn js-submit" style="display: inline">
    Save
  </button>
</form>

