<span class="thumbnail-wrapper">
  <img alt="{{name}}" src="/manuals/{{thumb}}"/>
</span>
<span class="title">{{name}}</span>
<div class="actions">
  <button class="btn btn-small js-edit">
    <i class="icon-pencil"></i>
    Edit
  </button>
  <button class="btn btn-small js-delete">
    <i class="icon-remove"></i>
    Delete
  </button>
</div>
