<div class="container">
  <h1 style="text-align: center">Edit Manuals</h1>
  <div class="row">
    <div class="span2" id="categories-region"></div>
    <div class="span10" id="manuals-region"></div>
  </div>
</div>
