<form>
  <label>Name: </label>
  <input type="text" class="span3" name="title" value="{{title}}">

  <label style="margin-top: 10px">Select file to upload:</label>
  <input type="file" name="file" id="manual-image">

  <button class="btn js-new" style="margin-top: 20px">
    Save
  </button>

</form>
