.manufacturing-percentage
  h2 An unmatched precision in machining allows us to deliver a &ldquo;Personal&rdquo; commercial machine
  dl
    dd.percent
      p 100%
    dd.explanation.
      of the copper and steal components are made in our manufacturing plant.
      This means copper boilers, copper connecting pipes, and steel frames are produced exactly to our
      specific requirements. This precision in manufacturing enables us to create a personal machine
      that delivers the taste of the coffee shop in your home.
.row
  .span2
  .span8
    .features
      h2 Features just like a real coffee shop machine
      section
        span.fonticon-thermometer.icon
        h3 Stable heat to stop sour espresso
        p.
          One of the problems many machines have is they do not have the heavy 
          commercial grade internal components to keep the temperature consistent.  
          If the temperature varies in the slightest from the boiler to the moment 
          of extraction the result is sour espresso. To guarantee stable 
          temperature through extraction we use <b>9 pounds of chrome
          plated brass</b> otherwise known as the legendary e61 group head. 
          Its density and its reliance on basic physics as opposed to added 
          electrical parts is what keeps the water temperature perfectly stable.
          Its the same group head used in our other commercial machines.
      section
        span.fonticon-water-dropplet.icon
        h3 The Perfect shot through Pre-infusion
        p.
          Before the actual extraction of espresso, the Reale gently wets the 
          grinds which gives them a uniform density. Now when the coffee receives 
          the full pressure of the brew, the water seeps through evenly allowing 
          the most flavor and aroma to be extracted. It is the exact same method 
          used in coffee bar machines. 
      section
        span.fonticon-milk-pitcher.icon
        h3 Steam milk without delay
        p.
          The temperature to steam milk is hotter than the temperature to extract a 
          shot so for most home units you have to wait five minutes after pulling a shot
          to steam milk, however not with the Reale. We use a dynamic boiler called a 
          heat exchanger so there is no wait time just like in the cafe. 
