section.odd
  .coffeegeek
    p.quote.
      <!--<img class="quote-left" src="/img/big-quote-left.png"/>-->
      &ldquo;Simple, beautiful, and makes excellent espresso&rdquo;
      <!--<span class="quotemark">&ldquo;</span>
      //<span class="quotemark">&rdquo;</span>-->
      <!--//<img class="quote-right" src="/img/big-quote-right.png"/>-->
    .author
      p.line-one.
        <img style="float-right" id="coffeegeek.png" src="/img/coffeegeek.png"/>
      p.line-two.
        espresso machine review site


