#reale
  .nav-wrapper
    ul.nav.nav-pills.container
      li.active: a(href="#", data-target="#features") Features
      li: a(href="#", data-target="#specs") Specs
      li: a(href="#", data-target="#reviews") Reviews
      li: a(href="#", data-target="#warranty") Warranty
      li: a(href="#", data-target="#faq") FAQ
      li: a(href="#", data-target="#support") Support
  .header
    .girl
      img.ht(src="/img/reale-banner-girl-opacity.png")
    .header-inner
      .scrolldown
        span LEARN MORE
        img(src="/img/scroll_down.png")
      .container
        .row
          .col-md-6
            .headline.fade
              h1 Meet the 
                span.fonticon-reale-logo 
              h2 a commercial espresso machine for your home
          .col-md-6.pull-right
            .machine
              img(src="/img/reale-420.png")
          .col-md-6.review-container.fade
            .review
                p.quote  &ldquo;Simple, beautiful, and makes excellent espresso...&rdquo;
                .author
                  p.line-one
                    img.pull-right(src="/img/coffeegeek.png")
                  p.line-two espresso machine review site

  .body
    section._1
      .container
        .row.first
          .col-md-8
            .tab-content
              .tab-pane.active#features
                include features-part2
              .tab-pane#specs
                include specs
              .tab-pane#reviews
              .tab-pane#warranty
                h1 Warranty
              .tab-pane#faq
                h1 F.A.Q.
              .tab-pane#support
                h1 Support
          .col-md-4
            .buy-box
              .product-name Reale Espresso Machine
              .price &#36;1,549.99
              .buy-btn
                .buy-wrap
                  a.btn.btn-default.btn-lg Buy
              .rating-wrapper
                dl.rating-container
                  dd.rating-ratio
                    div
                      span.rating-stars.rating-stars-off &#9733;&#9733;&#9733;&#9733;&#9733;
                      span.rating-stars.rating-stars-on &#9733;&#9733;&#9733;&#9733;&#9733;
                  dd.rating-ratio-count
                     a(href="#") 4 Reviews
              .product-incentives
                ul.pull-left
                  li: a(href="#")
                    span.glyphicon.glyphicon-plane 
                    |  Free Shipping
                  li: a(href="#")
                    span.glyphicon.glyphicon-tag 
                    |  No Sales Tax
                ul.pull-right
                  li: a(href="#")
                    span.glyphicon.glyphicon-ok-sign 
                    |  30 Day Guarantee
                  li: a(href="#")
                    span.glyphicon.glyphicon-lock 
                    |  Safe and Secure
    //.section2
      include features-part2
