#reale
  .header
    .wrap.ht
      .girl
        img(src="/img/reale-banner-girl-opacity.png")
      .container.content.ht
        .row-fluid.ht
          .span6.ht
            .headline
              h1 Meet the 
                span.fonticon-reale-logo 
              h2 a commercial espresso machine for your home
          .span6
            .machine
              img(src="/img/reale.png")
        ul.nav.nav-tabs
          li.active: a(href="#", data-target="#features") Features
          li: a(href="#", data-target="#specs") Specs
          li: a(href="#", data-target="#reviews") Reviews
          li: a(href="#", data-target="#warranty") Warranty
          li: a(href="#", data-target="#faq") FAQ
          li: a(href="#", data-target="#support") Support
  .body
    .section1
      .container
          .span8
            .tab-content
              .tab-pane.active#features
                include features-part1
              .tab-pane#specs
                include specs
              .tab-pane#reviews
              .tab-pane#warranty
                h1 Warranty
              .tab-pane#faq
                h1 F.A.Q.
              .tab-pane#support
                h1 Support
          .span4
            .buy-box
              .wrapper
                .line-one
                  a(href="#") Free Shipping
                  a.pull-right(href="#") No Sales Tax
                .price-line.
                  <span class="product-name">Reale Espresso Machine</span> <span class="price">1,549.99</span>
                dl.rating-container
                  dd.rating-ratio
                    div
                      span.rating-stars.rating-stars-off &#9733;&#9733;&#9733;&#9733;&#9733;
                      span.rating-stars.rating-stars-on &#9733;&#9733;&#9733;&#9733;&#9733;
                  dd.rating-ratio-count
                     a(href="#") 4 Reviews
                .buy-btn
                  a.btn.btn-success.btn-large Buy
                ul.product-incentives
                  li.pull-left <i class="icon-ok-sign"></i> <a href="#">30 Day Guarantee</a></li>
                  li.pull-right <i class="icon-lock"></i> <a href="#">Safe and Secure</a></li>
    .section2
      include features-part2
