mixin nav
  .nav-wrapper.tabs
    ul.nav.nav-pills.container
      li.reale-logo: a(href="/espresso-machines/reale")
        span.fonticon-reale-logo
      li.active: a(data-target="#features") Features
      li: a(data-target="#specs") Specs
      li: a(data-target="#reviews") Reviews
      li: a(data-target="#return") Return Policy
      li: a(href="/contact") Contact
      //- li: a(data-target="#warranty") Warranty
      //- li: a(data-target="#faq") FAQ
      //- li: a(data-target="#support") Support

mixin girl
  .girl
    img.ht(src="/img/reale-girl-opacity.png")

mixin scrollDown
  .scroll-down-wrap
    a
      span LEARN MORE
      br
      span.scroll_down

mixin headline
  .headline.fadeIn
    h1 Meet the 
      span.fonticon-reale-logo
    h2 a commercial espresso machine for your home

mixin machine
  .machine
    img(src="/img/reale-420.png")

mixin review
  .review.fadeIn
    .quote  &ldquo;Simple, beautiful, <br>and makes excellent<br> espresso...&rdquo;
    .author
      .line-one - coffeegeek.com
      .line-two espresso machine review site

mixin buyBox
  .buy-box
    .hd
      .product-name Reale Espresso Machine
      .price 
        span.small Price: 
        | n/a
        //- | &#36;1,549.99
      .rating-wrapper
        dl.rating-container
          dd.rating-ratio
            div
              span.rating-stars.rating-stars-off &#9733;&#9733;&#9733;&#9733;&#9733;
              span.rating-stars.rating-stars-on &#9733;&#9733;&#9733;&#9733;&#9733;
          dd.rating-ratio-count
             a.review-link-js(data-target="#reviews") 7 Reviews
    .bd
      .product-incentives
        ul.pull-left
          li: a()
            span.glyphicon.glyphicon-plane 
            |  Free Shipping
          li: a()
            span.glyphicon.glyphicon-tag 
            |  No Sales Tax
        ul.pull-right
          li: a()
            span.glyphicon.glyphicon-ok-sign 
            |  30 Day Guarantee
          li: a()
            span.glyphicon.glyphicon-lock 
            |  Safe and Secure
      .buy-btn
        a.btn.btn-default.btn-lg Buy


#reale
  mixin nav
  .header
    mixin girl
    mixin scrollDown
    .container
      .row
        .col-md-6
          mixin headline
        .col-md-6.pull-right.machine-container
          mixin machine
        .col-md-6.review-container
          mixin review
  .body
    .container
      mixin buyBox
      .tab-content
        .tab-pane.active#features
          include features
        .tab-pane#specs
          include specs
        .tab-pane#reviews
        .tab-pane#return
          include return
        .tab-pane#warranty
          h1 Warranty
        .tab-pane#faq
          h1 F.A.Q.
        .tab-pane#support
          h1 Support

