h1 Return &amp; Exchange Policy

h3 30 Day Satisfaction Guarantee
p.
  You have 30 days to try out your purchase, and if you don't love it we'll take it back. 
  There's absolutely no risk! We're that convinced that you'll love it. Returns are accepted 
  up to 30 days from the date the order arrives at your door. In order to return an espresso machine, 
  you must first call us for an RMA number. You will be responsible for shipping the espresso machine 
  back to us in order to retain your rights to a damage claim. We do not offer free returns or pre-paid 
  return labels for espresso machines.

h3 How to Make a Satisfaction Guarantee Return
p.
  To make a return simply <a>fill out our short return form</a>. You may also contact us via email 
  or by phone for more information. Once we have received your request, we will send you 
  additional details regarding the return procedure, such as how to prepare the machine for 
  shipping and packaging instructions. Please be sure to write the RMA number on the outside of the box.

h3 Your responsibilities when returning merchandise
ul
  li To protect your right to file a damage claim, you are responsible for shipping merchandise back to us. We do not issue call tags, as that would make us the responsible shipper.
  li You must properly drain the water from the machine before packing. We will include instructions along with your Return Authorization number. If you have questions, please call our service department for assistance.
  li You pay the cost of shipping it back to us.
  li Save the packing material and its original carton(s)! We take great care to package your purchase properly, so please reuse them when shipping your machine back to us.
p.
  Your espresso machine is inspected when it is received to verify:
ul
  li All original items are included (manuals, packing material, accessories, etc.).
  li The equipment is clean and still in "like new" condition, with no sign of abuse, misuse, missing parts, or missing manuals, etc.
p.
  We reserve the right to charge a 20% restocking fee if the above conditions are not met. 
  The cost of any promotional and/or included products (such as coffee and Barista Kits) 
  will also be deducted from your original purchase price.

h3 How the refund is issued

p.
  Once we receive your return package it will be inspected and a refund will be 
  issued to your card less the original outbound freight cost if your order 
  included free shipping. We will notify you via email after your items are received and after we have credited your card. 
p.
  Refunds are issued as a credit to the original credit card used in the purchase. 
  If we cannot refund the original credit card used for purchase, such as cancelled 
  credit cards or gift recipients, we will issue store credit (we do 
  not issue refunds via company check). Please allow up to 14 days to receive your refund. 
p.
  Please include all free gifts that were shipped with your order. 
  The retail value of any free gifts will be deducted from your refund if they are not included.

p For any questions regarding our returns process please contact us at sales@rosit-bisani.com or 800.215.8563.

h3 International Returns
p.
  Returns are accepted up to 30 days from the date the order was shipped. 
  You must contact us first at sales@rosito-bisani.com or 800.215.8563, 
  then send the item back to us at your expense. Once we receive your return package it 
  will be inspected and a refund will be issued to your card. We will notify you via 
  email after your items are received and after we have credited your card.

h3 Exchanges
p.
  To exchange an item, simply return it using the return process detailed above 
  and place a new order online or over the phone for the item you want.
