#specs
  h1 Specifications
  table.specs.table
    colgroup
      col
    tr
      th Weight
      td 48 lbs
    tr.even
      th Height
      td 17.5 inches
    tr
      th Width
      td 12.5 inches
    tr.even
      th Depth
      td 19 inches
    tr
      th Watts
      td 1300 watts
    tr.even
      th Volt
      td 110 volts
    tr
      th Cups Per Group
      td 2
    tr.even
      th Water Reservoir
      td 3 liters
    tr
      th Boiler
      td 1.3 liters with automatic level control
    tr.even
      th Manufacturer
      td Royal
    tr
      th Boiler Material
      td Copper with continuous heat circulation
    tr.even
      th Case Material
      td Stainless Steel
    tr
      th Boiler Design
      td Heat Exchanger
    tr.even
      th Steam Spout
      td
        span.glyphicon.glyphicon-ok
    tr
      th Hot Water Spout
      td
        span.glyphicon.glyphicon-ok
    tr.even
      th Vibration Pump
      td
        span.glyphicon.glyphicon-ok
    tr
      th Cup Warmer
      td
        span.glyphicon.glyphicon-ok
    tr.even
      th Pre-infusion
      td
        span.glyphicon.glyphicon-ok

