<div class="container">
  <div class="navbar-header">
    <button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      <span class="fonticon-logo"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="contact-numbers">
        <ul class="list-unstyled">
          <li><a href="tel:1-800-848-4444" data-bypass="true">West Coast Support <span class="phone-number">1-800-848-4444</span></a></li>
          <li><a href="tel:1-800-215-8563" data-bypass="true">East Coast Support <span class="phone-number">1-800-215-8563</span></a></li>
        </ul>
      </li>
    </ul>
    <div class="user-menu pull-right"></div>
  </div>
</div>
